.appointment-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f4f8fb;
}

.appointment-card {
  width: 700px;
  background: white;

  padding: 40px;
  border-radius: 20px;

  box-shadow: 0 10px 25px rgba(0,0,0,.08);
}

.appointment-card h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #0d2b45;
}

.input-group {
  margin-bottom: 18px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
}

.input-group input,
.input-group select,
.input-group textarea {
  width: 100%;
  padding: 12px;

  border: 1px solid #ddd;
  border-radius: 8px;

  outline: none;
}

.input-group input:focus,
.input-group select:focus,
.input-group textarea:focus {
  border-color: #0a7b6c;
}

button {
  width: 100%;
  padding: 14px;

  border: none;
  border-radius: 8px;

  background: #0a7b6c;
  color: white;

  cursor: pointer;
  font-size: 16px;
}